table,
        th,
        td {
            border: 1px solid black;
            border-collapse: collapse;
            text-align: center;
        }
.time-font{
    font-size: .75em;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100vh;
}
.letter-spacing{
    letter-spacing: 2.5em;
}
